Makefile
Makefile.in
aclocal.m4
ar-lib
arm-openbmc-linux-gnueabi-libtool
autom4te.cache*
compile
config.*
depcomp
elog-gen.hpp
elog-gen-test.hpp
install-sh
logging-test
logging_test.o
ltmain.sh
missing
test-driver
test/.deps*
test/.dirstamp
test/Makefile
test/Makefile.in
.deps*
configure
stamp-h1
phosphor-logging-*.*
